# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Java / Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath
.factorypath
nbproject/private/
.npm

# OS
.DS_Store
Thumbs.db

# Office temp/lock files
~$*
.~lock.*#

# Application
*.log
logs/
/data/
/tmp/

# Материалы организатора с большим объёмом (не хранятся в репозитории)
source/*.pptx
